UPLOADS_BUCKET_NAME="cruddur-uploaded-avatars-fmlg"
ASSETS_BUCKET_NAME="assets.crudderme.click"
THUMBING_S3_FOLDER_INPUT=""
THUMBING_S3_FOLDER_OUTPUT="avatars"
THUMBING_WEBHOOK_URL="https://api.crudderme.click/webhooks/avatar"
THUMBING_TOPIC_NAME="cruddur-assets"
THUMBING_FUNCTION_PATH="/workspace/aws-bootcamp-cruddur-2023/aws/lambdas/process-images"